@page "/customerData"
    @attribute [Authorize]
    @inject ICustomerService _customerService
    <h2>Customer management</h2>

    @if (customers == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <CustomerTable @bind-Customers="customers" @bind-CurrentPage="currentPage"
                       @bind-TotalPages="totalPages" @bind-Pagination="pagination">
        </CustomerTable>
    }

    @code {

        private CustomerCollection customerCollection;
        private List<CustomerViewModel> customers;
        private int totalPages;
        private int currentPage = 1;
        private PaginationDTO pagination = new PaginationDTO { Page = 1, Pagesize = 10 };

        protected override async Task OnInitializedAsync()
        {
            customerCollection = await _customerService.FetchCustomersAsync(pagination);
            customers = customerCollection.Items;
            currentPage = customerCollection.CurrentPage;
            totalPages = customerCollection.TotalPages;
        }
    }