@page "/customerForm"
@attribute [Authorize]
@inject ICustomerService _customerService

<h3>Enter customer's details</h3>
<div class="col-md-8 col-lg-4">
    <BasicForm ButtonText="Create" Customer="@newCustomer" SubmitAction="AddCustomer"
               CancelButtonText="Clear Form" CancelAction="ClearForm"></BasicForm>
</div>

@code {
    private CustomerViewModel newCustomer = new CustomerViewModel();

    private async Task AddCustomer()
    {
        var result = await _customerService.CreateCustomerAsync(newCustomer);

        newCustomer = new CustomerViewModel();
    }

    private void ClearForm()
    {
        newCustomer = new CustomerViewModel();
    }
}
